---
layout: layout.njk
title: Фёдор
---

<h1>Hello I am Фёдор</h1>

<ol class="posts-index">
  {% for post in search.pages("type=post", "order=desc date=desc") %}
  <li>{{post.data.date | dateDisplay }} - <a href="{{ post.data.url | siteUrl }}">{{ post.data.title }}</a> <a href="{{ post.data.url | siteUrl }}"><img class="post-thumbnail" src="{{ post.data.thumbnail | siteUrl }}" /></a></li>
  {% endfor %}
</ol>